html {
  color: white;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  /* font-family: "Pavanam", sans-serif; */
  font-family: "Anton", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  letter-spacing: 1px;
}

h1 {
  font-size: 4vw;
  font-weight: normal;
  line-height: 4vw;
  margin: 1vw 0;
}

h2 {
  font-size: 2vw;
  font-weight: normal;
  line-height: 2vw;
  margin: 1vw 0;
}

h3 {
  font-size: 1.5vw;
  font-weight: normal;
  line-height: 1.5vw;
  margin: .6vw 0;
}

p {
  font-size: 1vw;
  /* font-weight: normal; */
  line-height: 1vw;
  margin: .1vw 0;
}